apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: mrhealth-db
  labels:
    app: prometheus
    part-of: mrhealth
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30090
      name: http
      protocol: TCP
