# Grafana Provisioning ConfigMaps
# 1. Datasource: Prometheus for infrastructure metrics
#    NOTE: BigQuery disabled due to org policy iam.disableServiceAccountKeyCreation
#    Business data dashboards are in Superset instead
# 2. Dashboard provider: auto-load JSON dashboards from /var/lib/grafana/dashboards/
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: mrhealth-db
  labels:
    app: grafana
    part-of: mrhealth
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus:9090
        isDefault: true
        uid: prometheus
        editable: true
        jsonData:
          httpMethod: POST
          manageAlerts: true
          prometheusType: Prometheus
          prometheusVersion: 2.48.0
          timeInterval: 30s
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboards-config
  namespace: mrhealth-db
  labels:
    app: grafana
    part-of: mrhealth
data:
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: mrhealth
        orgId: 1
        folder: MR Health
        type: file
        disableDeletion: false
        editable: true
        updateIntervalSeconds: 30
        allowUiUpdates: true
        options:
          path: /var/lib/grafana/dashboards
          foldersFromFilesStructure: false
