apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-scheduler
  namespace: mrhealth-db
  labels:
    app: airflow-scheduler
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-scheduler
  template:
    metadata:
      labels:
        app: airflow-scheduler
    spec:
      initContainers:
        - name: wait-for-webserver
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z airflow-webserver 8080; do echo waiting for webserver...; sleep 5; done']
      containers:
        - name: scheduler
          image: apache/airflow:2.8.1-python3.11
          command: ["airflow", "scheduler"]
          envFrom:
            - configMapRef:
                name: airflow-config
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
